<!--
|************************************************************************************* 
|   Filename: header.ejs
|
|   Purpose: This file contains the header used by all views.
|             
|*************************************************************************************
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatrooms</title>
  <link rel="stylesheet" href="/style.css">
</head>